//width: 1535px/1440px


// font //
$ff: 'Open Sans', sans-serif;

$fw-small: 300;
$fw-regular: 400;
$fw-semibold: 600;
$fw-bold: 700;

$fs-100: 1.2rem;
$fs-200: 1.5rem;
$fs-300: 1.7506rem;
$fs-400: 2rem; 
$fs-500: 2.4rem;
$fs-600: 2.9375rem;
$fs-700: 3.2rem;
$fs-800: 4.8rem;
$fs-900: 7.2rem;

// colors //
$cl-nav-100: hsl(216, 22%, 74%); 

$cl-accent-400: hsl(61, 39%, 51%);
$cl-accent-100: hsl(0, 0%, 99%); 

$cl-primary-100: hsl(0, 0%, 82%);

$cl-bg-100: hsl(7, 54%, 45%);
$cl-bg-200: hsl(234, 86%, 46%);
$cl-bg-300: hsl(307, 79%, 60%);    
$cl-bg-400: hsl(231, 100%, 47%); //hsl(0, 1%, 43%)
$cl-bg-500: hsl(46, 81%, 60%);
$cl-bg-600: hsl(133, 46%, 59%);
$cl-bg-700: hsl(232, 73%, 52%);

$cl-gr-100: hsla(291, 85%, 39%, 0.78);
$cl-gr-150: hsla(252, 9%, 89%, 0.97);
$cl-gr-200: hsla(302, 93%, 50%, 0.69);
$cl-gr-250: hsla(293, 84%, 42%, 0.87);   
$cl-gr-300: hsla(227, 85%, 46%, 0.66);
$cl-gr-350: hsl(223, 96%, 44%);
$cl-gr-400: hsl(299, 86%, 64%);
$cl-gr-450: hsl(232, 73%, 52%);
$cl-gr-500: hsl(289, 82%, 40%);
$cl-gr-550: hsl(226, 88%, 45%);
$cl-gr-600: hsla(302, 93%, 50%, 0.04);
$cl-gr-650: hsl(0, 0%, 12%);
$cl-gr-700: hsla(223, 96%, 44%, 0.42);
$cl-gr-750: hsla(289, 82%, 40%, 0.68);
$cl-gr-800: hsla(226, 88%, 45%, 0.9);
$cl-gr-850: hsla(252, 61%, 18%, 0.08);
$cl-bg-900: hsl(234, 78%, 12%); 
$cl-bg-950: hsl(268, 68%, 16%);
$cl-bg-1000: hsl(288, 83%, 41%);
$cl-bg-1050: hsl(231, 75%, 48%);
$cl-bg-1100:hsla(225, 90%, 45%, 0.87);



$bg-cl: linear-gradient(114.48deg, $cl-bg-900 36.96%, $cl-bg-950 108.77%,);



// margin bottom //
/*$mb-s: 1.1rem;
$mb-d: 1.6rem;
$mb-n: 2.4rem;
$mb-l: 6.6rem;
$mb-xl: 7.8rem;*/











