@use '../abstracts' as a;

.footer {
  color: a.$cl-accent-100; 
  &__border {
    padding: 8rem 0;
    gap: 2rem;
    border-top: 1px solid a.$cl-gr-500; 
    border-bottom: 1px solid a.$cl-gr-500;
  }
  &__details {
    flex: 2; 
  }
  &__link {
    flex: 1;
    &>ul>li {
      list-style-type: none;
      font-size: 1.6rem; margin-bottom: 1.6rem;
      cursor: pointer;
      transition: all .3s;

      &:hover {
        transform: translateY(-.15rem);
      }
    }
  }
  &__heading {
    font-size: a.$fs-500;
    margin-bottom: 3rem;
  }

  &__form {
    display: inline-block;
    border-radius: .8rem;
    background: a.$cl-bg-900;
    width: 30rem;
    position: relative;
    &::before {
      @include a.border;
      margin: -.3rem;
    }
  }

  &__mail {
    background: none;
    border: none;
    color: a.$cl-accent-100;
    font-size: 1.2rem;
    padding: 2rem;

    &:focus {
      color:#ffffff;
      outline: none;
    }
    
  }

  &__button {
    background: #2A42DE;
    border: none;
    padding: 1rem;
    float: right;
    height: 5.35rem;
    border-bottom-right-radius: .8rem;
    border-top-right-radius: .8rem;

    &:active {
      transform: translateX(.3rem);
    }
  }
}

.social {
  &__link {
    display: flex;
    flex-direction: row;
    gap: 3rem;

    &>li {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 4rem; height: 4rem;
      border-radius: 50%;
      background: linear-gradient(180deg, a.$cl-gr-500 20%, a.$cl-gr-550 100%);
      position: relative;
      border: none;

      &::before {
        @include a.border;
      }
    }
  }
}