@use '../abstracts' as a;

.nav {
  width: 36.5rem;
  &__list {
    @include a.flex-row;
    justify-content: space-between;
    color: a.$cl-nav-100;
    font-size: a.$fs-400;

    &>li:hover {
      color: a.$cl-accent-100;
    }
  }
}

@media screen and (max-width: 900px) {
  .nav {
    display: none;
  }
}